@model PublisherViewModel

<h4>Издательство</h4>
<div class="edit-block">
    @using (Html.BeginForm("CreatePublisher", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.IsEdit)
        @if (Model.IsEdit)
        {
            @: <div class="dataBox">
                @:<label>Идентификатор</label><br />
                @Html.DisplayFor(m => m.Publisher.Id)
                @Html.HiddenFor(m => m.Publisher.Id)
            @:</div>
        }
        <div class="dataBox">
            <label>Название</label><br /> @Html.TextBoxFor(m => m.Publisher.Name, new { @class = "text-box" })
        </div>
        <div class="dataBox">
            <label>Страна</label><br /> @Html.TextBoxFor(m => m.Publisher.Country, new { @class = "text-box" })
        </div>
        <br />
        <div class="dataBox">
            <input type="submit" value="Сохранить" />
        </div>
    }
</div>
<div>
    <a asp-action="Index">Назад</a>
</div>