@model BooksAndPublishersViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <body>
        <div class="text-center">
            <h2>Книги</h2>
            <div class="book-list" style="background-color: lavender">
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Название</th>
                        <th>Год издания</th>
                        <th>Издательство</th>
                        <th>Управление</th>
                    </tr>
                    @foreach (var book in Model.Books)
                    {
                        <tr>
                            <td>@book.Id</td>
                            <td>@book.Name</td>
                            <td>@book.Year</td>
                            <td>@book.Publisher.Name</td>
                            <td>
                                @Html.ActionLink("Подробнее", "EditBook", book)
                                @Html.ActionLink("Удалить", "DeleteBook", book)
                            </td>
                        </tr>
                    }
                </table>
                <br />
                @Html.ActionLink("Добавить новую книгу", "CreateBook")
            </div>
            <br />
            <br />

            <h2>Издательства</h2>
            <div class="publishers-list" style="background-color: lavender">
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Название</th>
                        <th>Страна</th>
                        <th>Количество изданных книг</th>
                        <th>Управление</th>
                    </tr>
                    @foreach (var publisher in Model.Publishers)
                    {
                        <tr>
                            <td>@publisher.Id</td>
                            <td>@publisher.Name</td>
                            <td>@publisher.Country</td>
                            <td>@publisher.PublishedBooks.Count</td>
                            <td>
                                @Html.ActionLink("Подробнее", "EditPublisher", publisher)
                                @Html.ActionLink("Удалить", "DeletePublisher", publisher)
                            </td>
                        </tr>
                    }
                </table>
                <br />
                @Html.ActionLink("Добавить новое издательство", "CreatePublisher")
            </div>
        </div>
    </body>
</html>
